
<div fxLayout="row" fxLayoutGap="10px">

  <fs-scroll-picker [values]="months" name="month" [(ngModel)]="month">
    <ng-template fs-scroll-picker-template let-value="value">
      {{value.name}}
    </ng-template>
  </fs-scroll-picker>

  <fs-scroll-picker [valuesMin]="1" [valuesMax]="31" name="day" [(ngModel)]="day"></fs-scroll-picker>

  <fs-scroll-picker [valuesMin]="1900" [valuesMax]="year"  name="year" [(ngModel)]="year"></fs-scroll-picker>
</div>

<fieldset>
  <legend>Selected</legend>
  Month: {{month}}, Day: {{day}}, Year: {{year}}
</fieldset>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
