<div class="scroll-container" #scrollContainer>

  <div class="top" (click)="move(-1)"></div>
  <div class="bottom" (click)="move(1)"></div>
  <div
    class="scroller"
    [ngStyle]="{ transform: 'translateZ(0) rotateX(' + (selectedDegree) + 'deg)' }">
      <ng-container *ngFor="let value of values; let index = index; trackBy: trackByFn">
        <div
          class="value"
          [ngClass]="{ visible: selectedIndex > (index - 10) && selectedIndex < (index + 10) }"
          [ngStyle]="{ transform: 'rotateX(' + (index * degreeIncrement * -1) + 'deg) translateZ(90px) translate3d(0,0,0)', transition: 'transform 40ms' }">

          <ng-container *ngIf="template; else elseTemplate">
            <ng-container
              *ngTemplateOutlet="template;context:{ value: value }">
            </ng-container>
          </ng-container>

          <ng-template #elseTemplate>
            {{value}}
          </ng-template>
        </div>
      </ng-container>
  </div>
</div>