// :host {
//   height: 180px;
//   overflow: hidden;
// }

.scroll-container,
.scroll-container * {
    box-sizing: border-box;
    -webkit-user-select: none;
}

.scroll-container {
    text-align: center;
    position: relative;
    height: 210px;
    top: -15px;
    line-height: 30px;
    width: 100%;
    font-size: 20px;
    perspective-origin: center center;
}

.scroller {
  transition : transform 100ms ease;
  transform : translateZ(-90px) rotateX(0deg);
  transform-style : preserve-3d;
  height : 100%;
  padding: 90px 0;

  .value {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width : 100%;
    color : black;
    transform-origin: 50% 50%;
    transform-style : preserve-3d;
    visibility: visible;
    z-index: 0;
    transition: transform 40ms ease 0s;

    &.visible {
      background: #fff;
      z-index: 1;
    }

    &.value1 {
      transform: rotateX(67.5deg) translateZ(90px) translate3d(0px, 0px, 0px);
    }

    &.value2 {
      transform: rotateX(45deg) translateZ(90px) translate3d(0px, 0px, 0px);
    }

    &.value3 {
      transform: rotateX(22.5deg) translateZ(90px) translate3d(0px, 0px, 0px);
    }

    &.value4 {
      transform: rotateX(0deg) translateZ(90px) translate3d(0px, 0px, 0px);
    }

    &.value5 {
      transform: rotateX(-22.5deg) translateZ(90px) translate3d(0px, 0px, 0px);
    }

    &.value6 {
      transform: rotateX(-45deg) translateZ(90px) translate3d(0px, 0px, 0px);
    }

    &.value7 {
      transform: rotateX(-67.5deg) translateZ(90px) translate3d(0px, 0px, 0px);
    }
    
  }
}

.top {
  top: 0;
  position: absolute;
  height: 90px;
  background: rgba(256, 256, 256, 0.6);
  z-index: 2;
  width: 100%;
  transform: translateZ(0px);
  border-bottom: 1px solid #e2e2e2;
}

.bottom {
    position: absolute;
    bottom: 0;
    z-index: 2;
    background: rgba(256, 256, 256, 0.6);
    border-top: 1px solid #e2e2e2;
    width: 100%;
    height: 90px;
    transform: translateZ(0px);
}

.clone-scroller {
    box-shadow: inset 0 10px 24px 3px white, inset 0 -20px 24px 3px white;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    .value {
      visibility: hidden;
    }
}