<div class="scroll-container" #scrollContainer>
  <div
    class="clone-scroller"
    style="padding-top: 90px; padding-bottom: 90px;">
    <div class="item" *ngFor="let value of values">{{value}}</div>
  </div>
  <div class="top">
    <div class="top-1" (click)="addSelectedValue(-3)"></div>
    <div class="top-2" (click)="addSelectedValue(-2)"></div>
    <div class="top-3" (click)="addSelectedValue(-1)"></div>
  </div>
  <div class="bottom">
    <div class="bottom-3" (click)="addSelectedValue(1)"></div>
    <div class="bottom-2" (click)="addSelectedValue(2)"></div>
    <div class="bottom-1" (click)="addSelectedValue(3)"></div>
  </div>
  <div
    class="scroller"
    [ngStyle]="{ transform: 'translateZ(0) rotateX(' + (selectorDegree) + 'deg)', 'padding-top': '90px', 'padding-bottom': '90px' }">


    <ng-container *ngFor="let item of values; let index = index; trackBy: trackByFn">
      <div
        class="item"

        [ngClass]="{ visible: selectedIndex > (index - 10) && selectedIndex < (index + 10) }"
        [ngStyle]="{ transform: 'rotateX(' + (index * degreeIncrement * -1) + 'deg) translateZ(90px) translate3d(0,0,0)', transition: 'transform 40ms' }">
        {{item}}
      </div>
    </ng-container>

<!--
    <ng-container >
    <ng-container
      *ngTemplateOutlet="estimateTemplate;context:{index: index, selectedIndex: selectedIndex, segments: segments}">
    </ng-container>
  </ng-container> -->

<!--
    <div
      class="item"
      [ngStyle]="{ transform: 'rotateX(' + ((i) * degreeIncrement * -1) + 'deg) translateZ(90px)'}"
      *ngFor="let value of segments; let i = index"
      (click)="setSelectedIndex(i)">
        {{value}}
    </div> .

  [class]="'item item-' + index"
-->
  </div>
</div>


<ng-template #estimateTemplate let-index="index">

</ng-template>
