.scroll-container,
.scroll-container * {
    box-sizing: border-box;
    -webkit-user-select: none;
}

.scroll-container {
    text-align: center;
    position: relative;
    height: 210px;
    display: inline-block;
    line-height: 30px;
    width: 100%;
    font-size: 20px;
    perspective: 1000px;
    perspective-origin: center center;
}

.scroller {
  transition : transform 100ms ease;
  transform : translateZ(-90px) rotateX(0deg);
  transform-style : preserve-3d;
  height : 100%;

  .item {
      position: absolute;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      width : 100%;
      color : black;
      transform-origin: 50% 50%;
      transform-style : preserve-3d;
      visibility: hidden;
      z-index: 0;

      &.visible {
        visibility: visible;
        background: #fff;
        z-index: 1;
      }
  }
}

.top {
  top: 0;
  position: absolute;
  height: 90px;
  background: rgba(256, 256, 256, 0.6);
  z-index: 2;
  width: 100%;
  transform: translateZ(90px);
  border-bottom: 1px solid #e2e2e2;
}

.bottom {
    position: absolute;
    top: 120px;
    z-index: 2;
    background: rgba(256, 256, 256, 0.6);
    border-top: 1px solid #e2e2e2;
    width: 100%;
    height: 90px;
    transform: translateZ(90px);
}

.clone-scroller {
    box-shadow: inset 0 10px 24px 3px white, inset 0 -20px 24px 3px white;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    .item {
      visibility: hidden;
    }
}